$color-primary-red: hsl(7, 99%, 70%);
$color-primary-yellow: hsl(51, 100%, 49%);
$color-primary-graphic-text: #25564b;
$color-primary-photography-text: hsl(198, 62%, 26%);
$color-primary-footer: hsl(168, 34%, 41%);

$color-neutral-darker: hsl(212, 27%, 19%);
$color-neutral-dark: hsl(213, 9%, 39%);
$color-neutral-light: hsl(232, 10%, 55%);
$color-neutral-lighter: hsl(210, 4%, 67%);
$color-white: hsl(0, 0%, 100%);

$fs-default: 18px;

$ff-default: "Barlow", sans-serif;
$ff-heading: "Fraunces", sans-serif;

$fw-dark: 600;
$fw-darker: 700;
$fw-darkest: 900;
